/* body style */
body{
    background-color: whitesmoke;
}
/* top player style */
.top-players{
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    margin-left: 180px;
    margin-right: 210px;
   
}
.player{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px 15px 33px 15px;
    border: 1px solid white;
    padding: 15px 15px 33px 15px;
    background-color: white;
}
.player img{
    width: 300px;
    height: 256px;
}