/* body style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    margin: 0;
}
/* nav style  */
.navigations{
    height: 687px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2D25A0;
    margin-bottom: 70px;
}
.navigation{
  margin-left: 156px;
}
.navigation h1{
    font-size: 64px;
    color: white;
    margin-bottom: 27px;
}
.navigation a{
    text-decoration: none;
    border: 1px solid #E02C6D;
    padding: 10px 24px;
    background: #E02C6D;
    color: white;
    font-size: 16px;
}
.photo-frame{
    overflow: hidden;
}
.photo-frame:hover .photo{
    transform: scale(1.2);
    transition: transform 2s;
}
.photo{
    width: 556.01px;
    height: 438px;
    margin-right: 250px;
}
/* top player style */
.top-players{
    margin-bottom: 158px;
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    margin-left: 180px;
    margin-right: 210px;
   
}
.player{
    display: flex;
    flex-wrap: wrap;
    
    margin: 15px 15px 33px 15px;
    border: 1px solid white;
    padding: 15px 15px 33px 15px;
    background-color: white;
}
.player img{
    width: 300px;
    height: 256px;
}
/* highlight style*/
.highlight{
    display: flex;
    align-items: center;
    margin-left: 148px;
    margin-right: 156px;

}
.highlight-info{
    margin-top: 124px;
    margin-right: 100px;
}
.highlight h1{
    font-size: 48px;
    margin-bottom: 8px;
}
.detail{
    margin-bottom: 24px;
}

.highlight-info a{
    text-decoration: none;
    border: 1px solid #E02C6D;
    padding: 10px 24px;
    background: #E02C6D;
    color: white;
    font-size: 16px;
}
.highlight img{
    width: 567px;
    height: 427px;
    margin-top: 165px;

}
/* footer style */
.footer-info{
    margin-top: 158px;
    margin-bottom: 20px;
}
.footers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.footers img{
    width: 483.87px;
    height: 110px; 
}
.fab{
    color: black;
}
/* media query */
/* mobile device */
@media only screen and (max-width:688px) {
    /* navigation part start */
    .navigations{
        display: block;
        flex: none;
    }
    .navigation{
        margin-left: 100px;
        margin-right: 66px;
        margin-bottom: 40px;
    }
    .navigation h1{
        padding-top: 112px;
        margin-top: 0;
        font-size: 25px;
    }
    
    .photo{
        width: 329px;
        height: 259.17px;
        margin-left: 48px;
    }
    /* navigation part end */
    /* player part start */
    .players{
        margin-left: 0;
    }
    .players, .highlights, .footer-info {
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .highlight, .footers{
        flex-direction: column;
    }
    .highlight img{
        width: 329px;
        height: 259.17px;
    }
    .footers img{
        width: 100%;
    }
    /* player part end */

}
